@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}



/* div discount */

.discount{
    position: relative;
    width: 100%;
    height: 50px;
    padding-top: 12px;
    padding-left: 10px;
    font-size: 15px;
    background: #1CD1B0;
}
/* --------------------- */

/* header - heroe */

.hero{
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 400;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.hero-title{
    margin: 0;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 20px;
}

/* --------------------- */

/* section card-container */

.card-container{
    position: relative;
    padding: 10px 0px 100px 200px;
}

.card-1{
    position: relative;
    display: inline-block; 
    top: 50px;
    width: 300px;
    height: 530px;
    margin-right: 20px;
    background: #F3F3F3;
    /* vertical-align: top; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*   background-color: coral;  */
}

.card-2{
    position: relative;
    display: inline-block; 
    top: 50px;
    width: 300px;
    height: 530px;
    margin-right: 20px;
    background: #F3F3F3;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* background-color: coral;  */
}

.card-3{
    position:relative; 
    display: inline-block;
    top: 50px;
    width: 300px;
    height: 530px;
    /* margin-left: 850px; */
    background: #F3F3F3;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* background-color: coral;  */
}

.card-img-1{
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png);
    height: 35%;
}

.card-img-2{
    background-image: url(../img/colors.png);
    height: 35%;
}

.heart{
    position: relative;
    z-index: 300;
    top: 6px;
    left: 6px;
}

.batman{
    position: relative;
    top: -60px;
    left: 90px;
    border-radius: 50%;
}

.quinn{
    position: relative;
    top: -60px;
    left: 90px;
    border-radius: 50%;
}

.card-title{
    position: relative;
    margin-top: -40px;
    /* margin-bottom: 10px; */
    text-align: center;
}

.card-text{
    padding: 20px;
    text-align: center;
}

.link{
    text-align: center;
    color: white;
    background: #00669F;
    width: 130px;
    height: 48px;
    margin-left: 90px;  
    padding-top: 13px;
}

.link-text{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    font-size: 15px; 
}

/* --------------------- */

/* footer */
.footer {
    /* position:fixed; */
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: #00669F;
 }